<a href="https://colab.research.google.com/github/qmcnn/PROJECT/blob/main/CountUniqueValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# ดาวน์โหลด ไฟล์ข้อมูล ที่อัปโหลดลงใน Google Drive
!gdown 1ehSV_2g3e4zeltxOvZ2PoiANnsepu_a9

Downloading...
From: https://drive.google.com/uc?id=1ehSV_2g3e4zeltxOvZ2PoiANnsepu_a9
To: /content/Data.zip
100% 629M/629M [00:03<00:00, 170MB/s]

In [ ]:
#Extract Zip file
!unzip Data.zip

##🗂️Import data: vitalsign

In [4]:
import pandas as pd
vital = pd.read_csv('vitalsign.csv')
vital.head()

,LabNo,PatientUID,PatientVisitUID,OrderItemName,ResultItemName,ResultValue,CWhen
0,1,24513,2140458,Vital Signs Record,Weight,76.7,2558-04-08 09:57:59.153
1,1,24513,2341133,Vital Signs Record,BMI,30.76,2558-07-01 09:20:02.617
2,1,24513,2341133,Vital Signs Record,Pulse Rate,98,2558-07-01 09:20:02.617
3,1,24513,2341133,Vital Signs Record,Respiratory Rate,20,2558-07-01 09:20:02.617
4,1,24513,2388152,Vital Signs Record,BMI,30.36,2558-07-22 10:04:54.377

### 🔎UniqueValues 
columns: **OrderItemName and ResultItemName** in vitalsign.csv

In [5]:
# Specify the columns for unique value counting
columns_to_count = ['OrderItemName', 'ResultItemName']

# Count unique values in the specified columns
unique_counts = vital[columns_to_count].value_counts().reset_index()

In [6]:
unique_counts.columns = ['OrderItemName','ResultItemName', 'Count']
unique_counts

         OrderItemName      ResultItemName    Count
0   Vital Signs Record         Systolic BP  1389230
1   Vital Signs Record        Diastolic BP  1387866
2   Vital Signs Record          Pulse Rate  1326568
3   Vital Signs Record    Respiratory Rate  1044964
4   Vital Signs Record         Temperature   670561
5   Vital Signs Record              Weight   666734
6   Vital Signs Record              Height   624585
7   Vital Signs Record                 BMI   612300
8   Vital Signs Record                 BSA   612014
9   Vital Signs Record              O2 Sat   500912
10  Vital Signs Record          Pain Score   242681
11  Vital Signs Record        MeanPressure   127336
12  Vital Signs Record           Waistline     6291
13  Vital Signs Record  IrregularHeartBeat     1063
14  Vital Signs Record  Head Circumference      284
15  Vital Signs Record                6MWT       85
16  Vital Signs Record                 Fat       12
17  Vital Signs Record  AverageMeasurement       11

In [7]:
vitalsign_df = pd.DataFrame(unique_counts)
vitalsign_df

         OrderItemName      ResultItemName    Count
0   Vital Signs Record         Systolic BP  1389230
1   Vital Signs Record        Diastolic BP  1387866
2   Vital Signs Record          Pulse Rate  1326568
3   Vital Signs Record    Respiratory Rate  1044964
4   Vital Signs Record         Temperature   670561
5   Vital Signs Record              Weight   666734
6   Vital Signs Record              Height   624585
7   Vital Signs Record                 BMI   612300
8   Vital Signs Record                 BSA   612014
9   Vital Signs Record              O2 Sat   500912
10  Vital Signs Record          Pain Score   242681
11  Vital Signs Record        MeanPressure   127336
12  Vital Signs Record           Waistline     6291
13  Vital Signs Record  IrregularHeartBeat     1063
14  Vital Signs Record  Head Circumference      284
15  Vital Signs Record                6MWT       85
16  Vital Signs Record                 Fat       12
17  Vital Signs Record  AverageMeasurement       11

##🗂️Import data: Diagnosis

In [8]:
import pandas as pd
diagnosis = pd.read_csv('Diagnosis.csv')
diagnosis.head()

,PatientUID,PatientVisitUID,ProblemCode,ProblemName,ProblemDescription,DIAGTYPE,OnsetDttm
0,22496,0,K922,"Gastrointestinal haemorrhage\, unspecified",เลือดออกในกระเพาะอาหารและลำไส้ ไม่ระบุรายละเอียด,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-05 00:00:00.000
1,20509,0,R104,Other and unspecified abdominal pain,ปวดท้องแบบอื่นและไม่ระบุรายละเอียด,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-05 00:00:00.000
2,6629,0,K052,Acute periodontitis,โรคปริทันต์อักเสียบเฉียบพลัน,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-05 00:00:00.000
3,22234,0,E112,Non-insulin-dependent diabetes mellitus type 2...,เบาหวานชนิดที่ไม่ต้องพึ่งอินซูลิน ร่วมกับภาวะแ...,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-07 00:00:00.000
4,22234,0,N083,Glomerular disorders in diabetes mellitus ( E1...,ความผิดปกติของโกลเมอรูลัสในโรคเบาหวาน (E10-E14...,PRINCIPAL DX (การวินิจฉัยโรคหลัก),2556-01-07 00:00:00.000

### 🔎**UniqueValues**
columns: **ProblemCode, ProblemName, and (ProblemCode,ProblemName)** in Diagnosis.csv

In [9]:
diag_code = diagnosis['ProblemCode'].value_counts().reset_index()
diag_code.columns = ['UniqueValue_CODE','Count']
diag_code

      UniqueValue_CODE   Count
0            370992007  133314
1                  I10   97039
2             44054006   76676
3              1201005   72796
4             59621000   57233
...                ...     ...
19480         90228003       1
19481        174428001       1
19482          7407001       1
19483         92129006       1
19484         95209008       1

[19485 rows x 2 columns]

In [10]:
diag_name = diagnosis['ProblemName'].value_counts().reset_index()
diag_name.columns = ['UniqueValue_NAME','Count']
diag_name

                             UniqueValue_NAME   Count
0                                Dyslipidemia  133313
1            Essential (primary) hypertension   97039
2                    Type 2 diabetes mellitus   76674
3               Benign essential hypertension   72802
4                      Essential hypertension   58016
...                                       ...     ...
18423                         Impacted molars       1
18424                        Animal bites NOS       1
18425          Control of haemorrhage of nose       1
18426  Infective endocarditis of aortic valve       1
18427       Plasma cell leukemia in remission       1

[18428 rows x 2 columns]

In [11]:
# Specify the columns for unique value counting
columns_to_count = ['ProblemCode', 'ProblemName']

# Count unique values in the specified columns
diag_count = diagnosis[columns_to_count].value_counts().reset_index()
diag_count.columns = ['ProblemCode', 'ProblemName', 'Count']
diag_count

      ProblemCode                                       ProblemName   Count
0       370992007                                      Dyslipidemia  133313
1             I10                  Essential (primary) hypertension   97039
2        44054006                          Type 2 diabetes mellitus   76674
3         1201005                     Benign essential hypertension   72796
4        59621000                            Essential hypertension   57232
...           ...                                               ...     ...
19634   424648000  Closed fracture of base of fifth metatarsal bone       1
19635    42452002                            Thoracic radiculopathy       1
19636   424492005                                      Itch of skin       1
19637   424408000                         Keratoacanthoma of eyelid       1
19638     4208000     Closed multiple fractures of both lower limbs       1

[19639 rows x 3 columns]

In [12]:
diag_df = pd.DataFrame(diag_count)
diag_df

      ProblemCode                                       ProblemName   Count
0       370992007                                      Dyslipidemia  133313
1             I10                  Essential (primary) hypertension   97039
2        44054006                          Type 2 diabetes mellitus   76674
3         1201005                     Benign essential hypertension   72796
4        59621000                            Essential hypertension   57232
...           ...                                               ...     ...
19634   424648000  Closed fracture of base of fifth metatarsal bone       1
19635    42452002                            Thoracic radiculopathy       1
19636   424492005                                      Itch of skin       1
19637   424408000                         Keratoacanthoma of eyelid       1
19638     4208000     Closed multiple fractures of both lower limbs       1

[19639 rows x 3 columns]

##🗂️Import data: Lab

In [13]:
import pandas as pd
lab = pd.read_csv('Lab.csv')
lab.head()

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
0,1,2299,2024049,เวชศาสตร์นิวเคลียร์ (OPD)-D15,BMD LUMBAR,Formatted Result,2558-02-19 16:16:51.423,NaN,FT,NaN,NaN
1,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"ALBUMIN, 32403","ALBUMIN, 32403",2558-02-19 10:32:20.907,NaN,4.1,NaN,3.8 - 5.4
2,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,Alkaline Phos,"ALP, 32309",2558-02-19 10:32:21.610,NaN,44,NaN,42 - 121
3,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"ALT, 32311","ALT, 32311",2558-02-19 10:32:21.390,NaN,17,NaN,4 - 36
4,1,2299,2024049,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"AST, 32310","AST, 32310",2558-02-19 10:32:21.500,NaN,23,NaN,12 - 32

### 🔎**UniqueValues**
columns: **Location and ResultItemName** in Lab.csv

In [14]:
lab_location = lab['Location'].value_counts().reset_index()
lab_location.columns = ['Location','Count']
lab_location

                                        Location     Count
0                ห้องปฏิบัติการจุลทรรศน์วินิจฉัย  11033732
1      ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร   9919377
2           ห้องปฏิบัติการหน่วยจุลชีววิทยาคลินิก    200353
3           ห้องปฏิบัติการภูมิคุ้มกันวิทยาคลินิก    190574
4                         ห้อง Xray ชั้น 1-D1403    114615
5                ห้องปฏิบัติการภาควิชาปรสิตวิทยา     48546
6          ห้องปฏิบัติการหน่วยชีวโมเลกุลวินัจฉัย     33513
7               ห้องปฏิบัติการภาควิชาจุลชีววิทยา     27910
8                ห้องปฏิบัติการภาควิชาพยาธิวิทยา     24011
9                  เวชศาสตร์นิวเคลียร์ (OPD)-D15     18160
10                  ห้องปฏิบัติการคณะเภสัชศาสตร์     14315
11                   ห้องปฏิบัติการคลังเลือดกลาง     13071
12  หน่วยทะเบียนกลาง(Test พิเศษ)เวชศาสตร์ชันสูตร      1642
13                ห้องปฏิบัติการเภสัชพันธุศาสตร์       951
14                            ห้องปฏิบัติการ SEL       430
15              ห้องปฏิบัติการภาควิชาอายุรศาสตร์        62
16                              OPD Anest (SPAC)        45
17               ห้องปฏิบัติการคณะเทคนิคการแพทย์        28
18            ห้องปฏิบัติการภาควิชานิติเวชศาสตร์        25
19                                OR คลินิก-TH09         6
20           ห้องปฏิบัติการเตรียมโลหิตให้ผู้ป่วย         3
21            หน่วยโรคไต4จ มูลนิธิจิตตานุเคราะห์         2
22              ห้องปฏิบัติการตรวจสอบโลหิตบริจาค         2
23                         ห้องปฏิบัติการชีวเคมี         2
24                           ขอใบเคลมประกันชีวิต         1

In [15]:
lab_result = lab['ResultItemName'].value_counts().reset_index()
lab_result.columns = ['ResultItemName','Count']
lab_result

                       ResultItemName   Count
0                   CREATININE, 32202  587851
1                               WBC    568859
2                               RBC    568809
3                    POTASSIUM, 32103  520628
4              eGFR(CKD-EPI) age >=18  518711
...                               ...     ...
1548   RQ-PCR for BCR/ABL (p190,p210)       1
1549          EBV, qualitative RT-PCR       1
1550  Benzodiazepine (screening test)       1
1551        PCR for EBV : qualitative       1
1552                        Antigen S       1

[1553 rows x 2 columns]

In [16]:
# Specify the columns for unique value counting
columns_to_count = ['Location', 'ResultItemName']

# Count unique values in the specified columns
lab_count = lab[columns_to_count].value_counts().reset_index()
lab_count.columns = ['Location', 'ResultItemName', 'Count']
lab_count

,Location,ResultItemName,Count
0,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"CREATININE, 32202",587851
1,ห้องปฏิบัติการจุลทรรศน์วินิจฉัย,WBC,568852
2,ห้องปฏิบัติการจุลทรรศน์วินิจฉัย,RBC,568802
3,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"POTASSIUM, 32103",520628
4,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,eGFR(CKD-EPI) age >=18,518711
...,...,...,...
1842,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,FSH 0 min,1
1843,ห้องปฏิบัติการภาควิชาจุลชีววิทยา,Consistent,1
1844,ห้องปฏิบัติการหน่วยชีวโมเลกุลวินัจฉัย,Phospholipase A2 Receptor Ab (PLA2R Ab),1
1845,ห้องปฏิบัติการหน่วยชีวโมเลกุลวินัจฉัย,"Parvo virus B19, qualitative RT-PCR",1
1846,OPD Anest (SPAC),BE(B),1

In [17]:
lab_df = pd.DataFrame(lab_count)
lab_df

,Location,ResultItemName,Count
0,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"CREATININE, 32202",587851
1,ห้องปฏิบัติการจุลทรรศน์วินิจฉัย,WBC,568852
2,ห้องปฏิบัติการจุลทรรศน์วินิจฉัย,RBC,568802
3,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,"POTASSIUM, 32103",520628
4,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,eGFR(CKD-EPI) age >=18,518711
...,...,...,...
1842,ห้องปฏิบัติการเคมีคลินิก เวชศาสตร์ชันสูตร,FSH 0 min,1
1843,ห้องปฏิบัติการภาควิชาจุลชีววิทยา,Consistent,1
1844,ห้องปฏิบัติการหน่วยชีวโมเลกุลวินัจฉัย,Phospholipase A2 Receptor Ab (PLA2R Ab),1
1845,ห้องปฏิบัติการหน่วยชีวโมเลกุลวินัจฉัย,"Parvo virus B19, qualitative RT-PCR",1
1846,OPD Anest (SPAC),BE(B),1

##🗂️Import data: Prescription

In [18]:
import pandas as pd
prescription = pd.read_csv('Prescription.csv')
prescription.head()

,PatientUID,PatientVisitUID,DispensedDttm,DrugName,GenericName,Quantity,DrugFrequency,Dosage,DosageForm,DrugDuration
0,2299,2024049,2558-02-19 14:48:15.693,Folic Acid 5 mg TAB,Folivit tab 5 mg,90.0,od pc |วันละ 1 ครั้ง หลังอาหารเช้า,1.0,1 TAB,90.0
1,2299,2024049,2558-02-19 14:48:15.693,Vitamin B Complex TAB,Vitamin B Complex TAB,180.0,bid pc |วันละ 2 ครั้ง หลังอาหารเช้า เย็น,1.0,1 TAB,90.0
2,2299,2024049,2558-02-19 14:48:15.693,losartan(Loranta) 50 mg TAB,Loranta film-coated tab 50 mg,90.0,od pc |วันละ 1 ครั้ง หลังอาหารเช้า,1.0,1 TAB,90.0
3,2299,2024049,2558-02-19 14:48:15.693,lorazepam(Anxira) 0.5 mg TAB,Anxira tab 0.5 mg,30.0,hs |วันละ 1 ครั้ง ก่อนนอน,1.0,1 TAB,30.0
4,2299,2024049,2558-02-19 14:47:55.953,ChalkTAB-1.5 TAB,Chalktab 1500 mg,90.0,od pc |วันละ 1 ครั้ง หลังอาหารเช้า,1.0,1 TAB,90.0

### **🔎UniqueValues** 
columns: **DrugName, GenericName, and (DrugName,GenericName)** in Prescription.csv

In [19]:
pre_drug = prescription['DrugName'].value_counts().reset_index()
pre_drug.columns = ['DrugName','Count']
pre_drug

                                               DrugName   Count
0                                   Folic Acid 5 mg TAB  262937
1                             Vitamin B Complex  ED.TAB  194852
2                           aspirin(Aspent M) 81 mg TAB  191145
3                         omeprazole(Miracid) 20 mg CAP  189804
4                          Normal Saline 0.9% IV 100 ml  179434
...                                                 ...     ...
8225  เลนส์แก้วตาเทียมชนิดพับได้ AMO รุ่น ZCBOO,  on...       1
8226  เลนส์แก้วตาเทียมชนิดพับได้ AMO รุ่น ZCBOO,  on...       1
8227  แผ่นโลหะดามกระดูกชนิดเล็ก SMALL LC-DCP PLATE 3...       1
8228                              ปรอทวัดไข้ทางทวารหนัก       1
8229  เยื่อบุหัวใจทำจากวัว ผนังกั้นหัวใจเทียม (peric...       1

[8230 rows x 2 columns]

In [20]:
pre_generic = prescription['GenericName'].value_counts().reset_index()
pre_generic.columns = ['GenericName','Count']
pre_generic

                                            GenericName   Count
0                                      Folivit tab 5 mg  262937
1                             Vitamin B Complex  ED.TAB  194852
2                           aspirin(Aspent M) 81 mg TAB  191145
3                                     Miracid cap 20 mg  189804
4                          Normal Saline 0.9% IV 100 ml  179434
...                                                 ...     ...
2321  Ammonia Spirit Aromatic BPC 1973 Srichand topi...       1
2322                           Brilinta 90 mg TAB (PAP)       1
2323                     Botox 100 unit  INJ (สปสช)[จ2]       1
2324                      Folinic acid(Folina) 15mg TAB       1
2325                   Mycostatin ORAL SUSPENSION 12 ml       1

[2326 rows x 2 columns]

In [21]:
# Specify the columns for unique value counting
columns_to_count = ['DrugName', 'GenericName']

# Count unique values in the specified columns
pre_count = prescription[columns_to_count].value_counts().reset_index()
pre_count.columns = ['DrugName', 'GenericName', 'Count']
pre_count

,DrugName,GenericName,Count
0,Folic Acid 5 mg TAB,Folivit tab 5 mg,262937
1,Vitamin B Complex ED.TAB,Vitamin B Complex ED.TAB,194852
2,aspirin(Aspent M) 81 mg TAB,aspirin(Aspent M) 81 mg TAB,191145
3,omeprazole(Miracid) 20 mg CAP,Miracid cap 20 mg,189804
4,Normal Saline 0.9% IV 100 ml,Normal Saline 0.9% IV 100 ml,179434
...,...,...,...
2699,Barron corneal punch No.7.0,Keytruda 25 mg/ml INJ 4 ml,1
2700,Mycostatin ORAL SUSPENSION 12 ml,Mycostatin ORAL SUSPENSION 12 ml,1
2701,Aromatic Ammonia Spirit 450 ml,Ammonia Spirit Aromatic BPC 1973 Srichand topi...,1
2702,Aortic punch dia.4.0 mm,Noxafil 100 mg TAB,1
2703,Mite D.pt. 4,Mite D.pt. 4,1

In [22]:
pre_df = pd.DataFrame(pre_count)
pre_df

,DrugName,GenericName,Count
0,Folic Acid 5 mg TAB,Folivit tab 5 mg,262937
1,Vitamin B Complex ED.TAB,Vitamin B Complex ED.TAB,194852
2,aspirin(Aspent M) 81 mg TAB,aspirin(Aspent M) 81 mg TAB,191145
3,omeprazole(Miracid) 20 mg CAP,Miracid cap 20 mg,189804
4,Normal Saline 0.9% IV 100 ml,Normal Saline 0.9% IV 100 ml,179434
...,...,...,...
2699,Barron corneal punch No.7.0,Keytruda 25 mg/ml INJ 4 ml,1
2700,Mycostatin ORAL SUSPENSION 12 ml,Mycostatin ORAL SUSPENSION 12 ml,1
2701,Aromatic Ammonia Spirit 450 ml,Ammonia Spirit Aromatic BPC 1973 Srichand topi...,1
2702,Aortic punch dia.4.0 mm,Noxafil 100 mg TAB,1
2703,Mite D.pt. 4,Mite D.pt. 4,1

##🗂️Import data: visit

In [23]:
import pandas as pd
visit = pd.read_csv('Visit.csv')
visit.head()

<ipython-input-23-d72d0647f8ad>:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  visit = pd.read_csv('Visit.csv')

,PatientUID,PatientvisitUID,Sex,Age,ENTY,NATNL,StartDTTM,EndDttm,Location,PricipalProblemCode,PricipalProblemName
0,19319,25325,หญิง,83,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
1,83224,25327,ชาย,64,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
2,160455,25336,ชาย,86,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
3,181216,25338,หญิง,82,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
4,568147,25357,ชาย,68,Out Patient,ไทย,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN

### **🔎UniqueValues** 
columns: **PatientUID, PatientvisitUID, Sex, Age, ENTY, NATNL** in Visit.csv

In [24]:
visit_Sex = visit['Sex'].value_counts().reset_index()
visit_Sex.columns = ['UniqueValue','Count']
visit_Sex

  UniqueValue   Count
0         ชาย  693912
1        หญิง  646676

In [25]:
visit_Age = visit['Age'].value_counts().reset_index()
visit_Age.columns = ['UniqueValue','Count']
visit_Age

    UniqueValue  Count
0            68  45393
1            67  45249
2            66  44956
3            69  44758
4            71  43898
..          ...    ...
91          102     51
92           10     34
93          103     30
94            9     19
95          104     17

[96 rows x 2 columns]

In [26]:
visit_ENTY = visit['ENTY'].value_counts().reset_index()
visit_ENTY.columns = ['UniqueValue','Count']
visit_ENTY

   UniqueValue    Count
0  Out Patient  1242495
1    InPatient    54283
2            E    43808

In [27]:
visit_NATNL = visit['NATNL'].value_counts().reset_index()
visit_NATNL.columns = ['UniqueValue','Count']
visit_NATNL

                     UniqueValue    Count
0                            ไทย  1329345
1                            ลาว     3098
2                       อเมริกัน     1185
3   บริติช  (อังกฤษ, สก็อตแลนด์)     1112
4                          อื่นๆ     1079
5                        ไม่ระบุ      544
6                     ออสเตรเลีย      472
7                        เยอรมัน      352
8                       เวียดนาม      226
9                          โอมาน      177
10                      เดนมาร์ก      124
11                           จีน      119
12                          สวิส      109
13                        อิตาลี      109
14                         ดัตช์      104
15                        แคนาดา       89
16                        สวีเดน       78
17                       ไทยลื้อ       72
18                      ฝรั่งเศส       56
19                      เขมรอพยพ       55
20                      นอร์เวย์       55
21                          สเปน       53
22            เซนต์คิตส์และเนวิส       41
23                     ไอซ์แลนด์       38
24                      เบลเยียม       35
25                      ออสเตรีย       33
26                       ญี่ปุ่น       29
27                        ซีเรีย       26
28                    ไร้สัญชาติ       25
29                  จีน(ไต้หวัน)       20
30                        ไซปรัส       11
31                          พม่า        2

In [44]:
# Specify the columns for unique value counting
columns_to_count = ['PatientUID', 'PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL']

# Count unique values in the specified columns
visit_count = visit[columns_to_count].value_counts().reset_index()
visit_count.columns = ['PatientUID', 'PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL', 'Count']
visit_count

         PatientUID  PatientvisitUID   Sex  Age         ENTY NATNL  Count
0              2299           144386  หญิง   70  Out Patient   ไทย      1
1           1120916          6593553   ชาย   60  Out Patient   ไทย      1
2           1120916          7752314   ชาย   61  Out Patient   ไทย      1
3           1120916          7747689   ชาย   61  Out Patient   ไทย      1
4           1120916          7737649   ชาย   61  Out Patient   ไทย      1
...             ...              ...   ...  ...          ...   ...    ...
1338866      448304          2221926   ชาย   33  Out Patient   ไทย      1
1338867      448304          2150381   ชาย   33  Out Patient   ไทย      1
1338868      448304          2138351   ชาย   33  Out Patient   ไทย      1
1338869      448304          2123685   ชาย   33  Out Patient   ไทย      1
1338870     3437526         10541118   ชาย   68  Out Patient   ไทย      1

[1338871 rows x 7 columns]

In [45]:
columns_to_count = ['PatientUID', 'Sex', 'Age', 'ENTY', 'NATNL']

# Count unique values in the specified columns
visit_grouped = visit.groupby('PatientUID')[columns_to_count].nunique()

# Rename the columns
new_columns = ['Count_' + column for column in columns_to_count]
visit_grouped.columns = new_columns

# Merge with the existing visit_count DataFrame
visit_count = visit_count.merge(visit_grouped, on='PatientUID', how='left')

# Select the required columns
required_columns = ['PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL', 'Count_Sex', 'Count_Age', 'Count_ENTY', 'Count_NATNL']
visit_count = visit_count.reindex(required_columns, axis=1)

In [46]:
visit_count

,PatientvisitUID,Sex,Age,ENTY,NATNL,Count_Sex,Count_Age,Count_ENTY,Count_NATNL
0,144386,หญิง,70,Out Patient,ไทย,1,11,2,1
1,6593553,ชาย,60,Out Patient,ไทย,1,7,2,1
2,7752314,ชาย,61,Out Patient,ไทย,1,7,2,1
3,7747689,ชาย,61,Out Patient,ไทย,1,7,2,1
4,7737649,ชาย,61,Out Patient,ไทย,1,7,2,1
...,...,...,...,...,...,...,...,...,...
1338866,2221926,ชาย,33,Out Patient,ไทย,1,9,3,1
1338867,2150381,ชาย,33,Out Patient,ไทย,1,9,3,1
1338868,2138351,ชาย,33,Out Patient,ไทย,1,9,3,1
1338869,2123685,ชาย,33,Out Patient,ไทย,1,9,3,1
1338870,10541118,ชาย,68,Out Patient,ไทย,1,2,2,1

In [ ]:
# แสดงข้อมูลใน DataFrame ด้วยดัชนีที่เลือก
selected_data = visit_count.loc[3432056]
selected_data

In [56]:
import pandas as pd

# กำหนดคอลัมน์ที่ต้องการนับค่าที่ไม่ซ้ำกัน
columns_to_count = ['PatientvisitUID', 'Sex', 'Age', 'ENTY', 'NATNL']

# จัดกลุ่มและนับค่าที่ไม่ซ้ำกันตามดัชนี "PatientUID"
visit_grouped = visit.groupby('PatientUID')[columns_to_count].nunique().reset_index()

# เปลี่ยนชื่อคอลัมน์ใหม่
visit_grouped.columns = ['PatientUID'] + ['Count_' + column for column in columns_to_count ]

In [57]:
visit_grouped

,PatientUID,Count_PatientvisitUID,Count_Sex,Count_Age,Count_ENTY,Count_NATNL
0,2299,83,1,11,2,1
1,2304,67,1,12,3,1
2,2312,83,1,12,2,1
3,2354,64,1,9,2,1
4,2362,88,1,12,3,1
...,...,...,...,...,...,...
22570,3421578,6,1,2,1,1
22571,3426284,4,1,2,1,1
22572,3431501,4,1,2,1,1
22573,3432056,14,1,2,2,1
22574,3437526,3,1,2,2,1

In [58]:
visit_df = pd.DataFrame(visit_grouped)
visit_df

,PatientUID,Count_PatientvisitUID,Count_Sex,Count_Age,Count_ENTY,Count_NATNL
0,2299,83,1,11,2,1
1,2304,67,1,12,3,1
2,2312,83,1,12,2,1
3,2354,64,1,9,2,1
4,2362,88,1,12,3,1
...,...,...,...,...,...,...
22570,3421578,6,1,2,1,1
22571,3426284,4,1,2,1,1
22572,3431501,4,1,2,1,1
22573,3432056,14,1,2,2,1
22574,3437526,3,1,2,2,1

# Excel

In [59]:
with pd.ExcelWriter('CountUniqueValues.xlsx') as writer:  
    vitalsign_df.to_excel(writer, sheet_name='Vitalsign')
    diag_df.to_excel(writer, sheet_name='Diagnosis')
    lab_df.to_excel(writer, sheet_name='Lab')
    pre_df.to_excel(writer, sheet_name='Prescription')
    visit_df.to_excel(writer, sheet_name='Visit', index=False)